@import url('https://fonts.googleapis.com/css?family=Inder&display=swap');


#big-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#error {
    color: red;
    font-family:var(--main-text-font);
    text-align: center;
}

#navlink-box {
    display: flex;
    justify-content: center;
}

#navlink-create {
    font-family: var(--main-text-font);
    color: rgb(204, 122, 0);
}

:root {
    --main-bg-color: rgb(38, 38, 38);
    --main-text-color: rgb(255,163,26);
    --main-link-color: rgb(204, 122, 0);
    --main-text-font: 'Inder', sans-serif;
    --header-menu-color:  rgba(153, 150, 150, 0.6);
}

body {
    background: var(--main-bg-color);
}


#create-head {
    color: var(--main-text-color);
    text-align: center;
    font-size: 2em;
    font-family: var(--main-text-font);
}

#create-user-form, #update-form {
    display: flex;
  flex-direction: column;
  max-width: 20em;
}

.input-label {
    color: var(--main-text-color);
    font-family: var(--main-text-font);
}

#input-button {
    color:black;
}