@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

#create-head {
	font-size: 2em;
	font-family: "Roboto Condensed", sans-serif;
	display: flex;
	flex-direction: column;
	max-width: 20em;
}

#instructions {
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	max-width: 20em;
}

#createUser-form {
	display: flex;
	flex-direction: column;
	max-width: 20em;
}
