#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

#button {
  background-color: var(--header-menu-color);
  color: var(--main-link-color);
  border-color: var(--main-bg-color);
}
