@import url('https://fonts.googleapis.com/css?family=Inder&display=swap');

#menu {
  background-color: rgb(206, 210, 212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

#home-login {
  font-family: 'Inder', sans-serif;
}