@import url("https://fonts.googleapis.com/css?family=Inder&display=swap");

#menu {
	background-color: var(--header-menu-color);
	display: flex;

	align-items: center;
	padding: 0 1em;
	border-radius: 1em;
}

#menu-links {
	display: flex;
	justify-content: flex-end;
	flex-grow: 2;
}

#menu-links a {
	padding-right: 0.5em;
	color: var(--main-link-color);
	text-decoration: underline;
	cursor: pointer;
}

#home-login {
	color: var(--main-text-color);
	text-align: center;
	font-family: var(--main-text-font);
}
