@import url('https://fonts.googleapis.com/css?family=Inder&display=swap');




#menu {
  background-color: rgba(153, 150, 150, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

#home-login {
  color: whitesmoke;
  text-align: center;
  font-family: 'Inder', sans-serif;
}